:root{
  --color-indigo-dye: #033F63;
  --color-ming: #28666E;
  --color-morning-blue: #7C9885;
  --color-sage: #B5B682;
  --color-navajo-white: #FEDC97;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #28666E;
}

button{
  cursor: pointer;
}